/*-----------------------------------------------
------------------ RESET ------------------------
-----------------------------------------------*/
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
    text-decoration: none;
    color: black;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- Font ----- */
@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('./fonts/Segoe\ UI.woff') format('woff');
}
    
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('./fonts/Segoe\ UI\ Bold.woff') format('woff');
}

/* ----  Début du CSS ---- */

* {
    font-family: "Segoe UI Regular", Arial, Helvetica, sans-serif;
}

header {
    height: 118px;
    width: 100%;
    background-color: #003580;
    display: flex;
    flex-direction: column;
}

.header_line_top {
    height: 64px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_line_top div {
    display: flex;
}

.connextions {
    display: flex;
    align-items: center;
    height: 64px;
    width: auto;
}

.button_type01 {
    letter-spacing: .05em;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.boutonInt {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid white;
}

.button_type01:hover {
    background-color: #0F4187;
}

.button_type01 img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.button_type01 i {
    font-size: 24px;
}

.button_type02, .button_type03 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0 8px;    
    margin-left: 10px;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 2px;
}

.button_type02 {
    color: white;
    border: 1px solid white;
    height: 38px;
}

.button_type02:hover {
    background-color: rgba(255, 255, 255, .1);
}

.button_type03 {
    background-color: white;
    border: 1px solid #0896FF;
    color: #0b84e0;
    height: 36px;
    padding: 0 16px;
}

.button_type03:hover {
    background-color: rgba(255, 255, 255, .95);
}

nav {
    height: 54px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

nav li {
    display: flex;
}

nav li ul {
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: .025em;
    color: white;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 100%;
    border-bottom: 2px solid transparent;
    padding: 16px;
    border-radius: 2px 2px 0 0;
}

nav li ul:nth-child(1) {
    border-bottom: 2px solid white;
}

ul i {
    font-size: 1.2em;
    margin-right: 10px;
}

ul svg {
    margin-top: 3px;
    height: 1.3em;
    filter: invert(1);
    margin-right: 10px;
}

ul i img {
    filter: invert(1);
    height: 19.2px;
}

nav li ul:hover {
    background-color: #0F4187;
    border-bottom: 2px solid white;
}

/* -------------------------------------- */

.bannier_type01 {
    height: 260px;
    width: 100%;
    background-color: #F5F5F5;
    border-bottom: 1px solid #e7e7e7;
}

.bannier_type01 section {
    height: 100%;
    width: auto;
    max-width: 1110px;
    margin: 0 auto;
    padding: 44px 5px;
}

h1 {
    height: 32px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .03em;
}

.subtitle_h1 {
    height: 20px;
    font-size: 14px;
}

.recherche_zone {
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    background-color: #FEBB02;
    width: 1100px;
    height: 60px;
    padding: 4px;
    margin: 24px auto 16px auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .15);
}

.recherche_zone input {
    padding-left: 16px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
    border: 1px solid transparent;
}

.recherche_zone input:hover {
    border: 1px solid grey;
}

input:nth-child(1) {
    width: 421px;
}

input:nth-child(2) {
    margin-left: 4px;
    width: 196px;
}

input:nth-child(3) {
    margin-left: 4px;
    width: 298px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 600;
}

.recherche_zone button {
    cursor: pointer;
    color: white;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: .05em;
    border-radius: 2px;
    background-color: #0874c7;
    margin-left: 4px;
    width: 164px;
}

.recherche_zone button:hover {
    background-color: #086cb8;
}

.bannier_checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}

.bannier_checkbox input {
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    width: 20px;
    align-self: flex-start;
    border: 1px solid rgba(50, 50, 50, .7);
}

.bannier_checkbox p {
    font-size: 14px;
    margin-left: 8px;
}

main {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc_01 {
    display: flex;
    align-items: center;
    padding: 16px;
    width: 1100px;
    height: 76px;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
}

.bloc_01_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 40px;
    width: 40px;
    color: #ad7750;
    background-color: #FFF0E0;
    border-radius: 8px;
    margin-right: 16px;
}

.bloc_01_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40px;
    font-size: 14px;
}

.bloc_01_text a {
    width: max-content;
    color: #0076ca;
    border-bottom: 1px solid transparent;
}

.bloc_01_text a:hover {
    border-bottom: 1px solid #0076ca;
    
}

/* ------------------------------------------- */

.bloc_02 {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    padding: 0 18px;
    margin-top: 25px;
    height: auto;
}

.bloc_02_card {
    cursor: pointer;
    display: flex;
    font-size: 12px;
    max-width: 265.5px;
    height: 118px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
}

.bloc_02_card:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, .15);
}

.bloc_02_icon {
    font-size: 16px;
    margin-right: 14px;
}

.bloc_02_icon svg {
    height: 1.3em;
    filter: invert(0);
}

.bloc_02_card h2 {
    font-size: 16px;
    margin-bottom: .25em;
}

.bloc_02_card p {
    line-height: 19.5px;
}

/* ------------------------------------------- */

.bloc_03 {
    width: 1140px;
    padding: 0 16px;
    margin-top: 30px;
    position: relative;
    
}

.bloc_03_sildebox {
    position: relative;
    overflow: hidden;
}

.silde_elements {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    width: 2682px;
    height: auto;
    left: 0px;
}

.silde_left, .silde_right {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.silde_left {
    top: 45%;
    left: 0px;
}

.silde_right {
    top: 45%;
    right: 0px;
}

.bloc_03 h3 {
    font-family: 'Segoe UI Bold', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.card_silde {
    cursor: pointer;
    width: 207px;
    height: 245px;
}

.card_silde img {
    width: 207px;
    height: 180px;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
}

.card_silde_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card_silde p {
    color: rgb(141, 141, 141);
    font-size: 14px;
}

/*-----------------------------------------------*/

.grid_01 {
    margin-top: 12px;
    width: 1140px;
    padding: 16px;
    display: grid;
    grid-template-rows: 272px 272px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;

}

.bloc_img {
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.bloc_img:hover {
    border: 1px solid orange;
}

.bloc_img h4 {
    background: linear-gradient(180deg, rgba(0,0,0,.2) 0%, rgba(255,255,255,0) 50%);
    height: 100%;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .9);
    font-family: 'Segoe UI Regular', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.68em;
    display: flex;
    padding: 16px;
    position: absolute;
}

.bloc_img h4:hover {
    background: linear-gradient(180deg, rgba(0,0,0,.4) 0%, rgba(255,255,255,0) 50%);
}

.bloc_img h4 img {
    border-radius: 3px;
    margin-top: 7px;
    margin-left: 12px;
    height: 20px;
    width: 28px;
}

.bloc_img img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bloc_img1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.bloc_img2 {
    grid-row: 1 / 2;
    grid-column: 4 / 7;
}

.bloc_img3 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.bloc_img4 {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
}

.bloc_img5 {
    grid-row: 2 / 3;
    grid-column: 5 / 7;
}

/*--------------------------------------------*/


.bloc_04 {
    width: 1140px;
    padding: 0 16px;
    margin-top: 16px;
    position: relative;
    
}

.bloc_04_sildebox {
    position: relative;
    overflow: hidden;
}

.silde4_elements {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    width: 2232px;
    height: auto;
    left: 0px;
}

.bloc_04 h5 {
    font-size: 20px;
    margin-bottom: 8px;
}

.subtitle_h5 {
    color: rgb(141, 141, 141);
    font-size: 16px;
    margin-bottom: 20px;
}

.silde_left_2, .silde_right_2 {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.silde_left_2 {
    top: 45%;
    left: 0px;
}

.silde_right_2 {
    top: 45%;
    right: 0px;
}

/*-----------------------------------------------*/

.card_silde_2 {
    cursor: pointer;
    width: 263.5px;
    height: 360px;
}

.card_silde_2 img {
    width: 263.5px;
    height: 260px;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
}

.card_silde_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card_silde_2 p {
    margin-bottom: 16px;
    color: rgb(141, 141, 141);
    font-size: 14px;
}

.card_silde_2 p span {
    margin-left: 6px;
    font-weight: 600;
    color: black;
}

.bloc_05 {
    width: 1140px;
    padding: 0 16px;
    margin-top: 32px;
    position: relative;
}
.silde5_elements {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    width: 2234px;
    height: auto;
    left: 0px;
}

.bloc_05_sildebox {
    position: relative;
    overflow: hidden;
}

.bloc_05 h5 {
    font-family: 'Segoe UI Bold', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 8px;
}

.subtitle_h5 {
    color: rgb(141, 141, 141);
    font-size: 16px;
    margin-bottom: 20px;
}

.silde_left_3, .silde_right_3 {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.silde_left_3 {
    top: 43%;
    left: 0px;
}

.silde_right_3 {
    top: 43%;
    right: 0px;
}

/*-----------------------------------------*/

.bloc_06 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    padding: 0 16px;
    margin-top: 32px;
    position: relative;
    overflow: hidden;
}

.bloc_06 h6 {
    align-self: flex-start;
    font-family: 'Segoe UI Bold', Arial, sans-serif;
    font-size: 24px;
}

.grid_02 {
    margin-top: 8px;
    width: 1140px;
    padding: 16px;
    display: grid;
    grid-template-rows: 272px 272px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

.bloc_img_2 {
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.bloc_img_2 div {
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 60%);
    color: white;
    font-family: 'Segoe UI Regular', Arial, sans-serif;
    font-weight: bold;
    padding: 16px;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bloc_img_2 div h4 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
}
.bloc_img_2 div p {
    font-size: 14px;
    line-height: 20px;
}

.bloc_img_2 img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation: all 2s linear infinite;
}

.bloc_img_2:hover img {
    transform: scale(1.05);
    
}

.bloc_img21 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.bloc_img22 {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
}

.bloc_img23 {
    grid-row: 1 / 2;
    grid-column: 5 / 7;
}

.bloc_img24 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.bloc_img25 {
    grid-row: 2 / 3;
    grid-column: 4 / 7;
}

/*-------------------------------------------*/

.bloc_07 {
    width: 1140px;
    padding: 0 16px;
    margin-top: 32px;
    position: relative;
}
.silde7_elements {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    width: 2234px;
    height: auto;
    left: 0px;
}

.bloc_07_sildebox {
    position: relative;
    overflow: hidden;
}

.bloc_07 h5 {
    font-family: 'Segoe UI Bold', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.silde_left_4, .silde_right_4 {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.silde_left_4 {
    top: 43%;
    left: 0px;
}

.silde_right_4 {
    top: 43%;
    right: 0px;
}

.card_silde_7 {
    height: 379px;
}

.card_silde_7 div p {
    margin-bottom: 6px;
}

.card_silde_7 p.price7 {
    color: black;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 10px;
}

.card7_note {
    height: max-content;
    display: flex;
    align-items: center;
}

.card7_note div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: .85em;
    height: 28px;
    width: 28px;
    border-radius: 5px 5px 5px 0px;
    background-color: rgb(0, 53, 128);
}

.card7_note p {
    font-size: .8em;
}

.easter_egg {
    position: relative;
    height: 379px;
    
}

.easter_egg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.easter_egg_text {
    font-size: 16px;
    line-height: 24px;
    cursor: initial;
    padding: 16px;
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .65);
}

.easter_egg_text:hover {
    background-color: rgba(0, 0, 0, .45);
}

.easter_egg_text div {
    margin-top: 125px;
}

.easter_egg_text button {
    cursor: pointer;
    color: #0896FF;
    background-color: white;
    border: 1px solid #0896FF;
    border-radius: 3px;
    font-size: 1.05em;
    font-weight: 600;
    line-height: 1.05em;
    height: 56px;
    width: 100%;
}

.easter_egg_text button a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #0896FF;
}

.easter_egg_text button:hover {
    background-color: rgba(255, 255, 255, .85);
}

/*--------------------------------------------*/

.bloc_08 {
    width: 1140px;
    padding: 0 16px;
    margin-top: 40px;
    position: relative;
}
.silde8_elements {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    width: 2234px;
    height: auto;
    left: 0px;
}

.bloc_08_sildebox {
    position: relative;
    overflow: hidden;
}

.card_silde_8 {
    margin-right: 18px;
}

.bloc_08 h5 {
    font-family: 'Segoe UI Bold', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.card_silde_8 img {
    background-color: rgb(247, 247, 247);
}

.card_silde_8 img:nth-child(3) {
    height: 100%
}

.card_silde_8 p {
    line-height: 20px;
}



/*---------------------------------------*/

.none {
    visibility: hidden;
}